/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #3a0a5e;
  padding: 20px;
  color: white;
}

.App-header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header .header-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.App-header h1 {
  margin: 0;
  font-size: 2em;
}

.App-header p {
  margin: 5px 0;
}

main {
  display: flex;
  flex-wrap: nowrap; /* Changed to nowrap to keep sections in one row */
  justify-content: space-evenly; /* Space between sections */
  padding: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 300px;
  width: 100%;
}

.upload-section, .chat-history-section {
  margin-bottom: 40px; /* Increased margin for more space */
}

.qa-section {
  max-width: 600px;
  width: 100%;
  margin-left: 40px; /* Added margin to create gap between sections */
}

footer {
  background-color: #3a0a5e;
  color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .left-section, .qa-section {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  main {
    flex-direction: column;
    align-items: center;
  }
}
